.terraform/

*.tfstate
*.tfstate.*

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info
.terraformrc
terraform.rc

.env
.env.*.local
.env.local
.env.test
.env.production

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
*.cover
coverage.xml
htmlcov/
.tox/
.pytest_cache/
.ipynb_checkpoints
